* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier;
}

.row::after {
    content: "";
    clear:both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Bok Book.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.forgot {
    width: 420px;
    background:transparent;
    border: 2px solid #808080cc;
    box-shadow: 0 0 10px #808080cc;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.forgot .btn {
    width: 40%;
    height: 30px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, 1.5);
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.forgot h1 {
    font-size: medium;
}

#pass {
    margin-top: 5px;
}

.input-box input {
    background: transparent;
}

.input-box input::placeholder {
    color: white;
}


/* for desktop */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width:768px) {
    /* for mobile phones */
    [class*="col-"] {
        width:100%;
    }
}

@media only screen and (max-width:400) {
    /* for mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}